*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
}

.stopwatch{
    padding: 10px;
    text-align: center;
}

.time{
    padding: 10px 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px black;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 60px;
}

.button{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.button button{
    font-weight: 600;
    color: white;
    box-shadow: 2px 2px 2px rgba(39, 38, 38, 0.89);
    background-color: rgb(169, 119, 11);
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 80px;
    margin: 10px;
}

button:active{
    box-shadow: none;
}